<div class="container mt-4">
  <!-- Add User Button -->
  <button class="btn btn-success mb-3" (click)="addModal.open()">
    Add User
  </button>

  <!-- Users DataTable -->
  <table id="userTable" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Is Admin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
        </td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="openEditUserModal(user)">
            Edit
          </button><button class="btn btn-info" (click)="openViewModal(user)">View</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modals -->
  <app-add-modal #addModal [title]="'Add New User'" [fields]="userFields" (onSubmit)="handleAddUser($event)">
  </app-add-modal>

  <app-edit-modal #editModal [title]="editModalTitle" [fields]="userFields" [entity]="editUser"
    (onSubmit)="handleUpdateUser($event)">
  </app-edit-modal>

  <app-details-modal #viewModal [title]="'User Details'" [fields]="userFields" [entity]="selectedUser">
  </app-details-modal>
</div>