<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 100%; max-width: 500px;">
        <h3 class="text-center mb-4 text-primary">Login</h3>
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" [(ngModel)]="loginObj.username" name="username" class="form-control"
                    placeholder="Enter your username" required />
            </div>

            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" [(ngModel)]="loginObj.password" name="password" class="form-control"
                    placeholder="Enter your password" required minlength="6" />
            </div>

            <button type="submit" class="btn btn-primary w-100" (click)="UserLogin()">
                Login
            </button>

            <div class="text-center mt-3">
                <small>Don't have an account?
                    <a href="/register" class="text-decoration-none">Register here</a>
                </small>
            </div>
        </form>
    </div>
</div>