@tailwind base;
@layer base {
  body {
    @apply min-h-screen bg-gray-100;

  }
}
@tailwind components;
@layer components {
  input {
    @apply w-full outline-none border border-gray-200 px-2 py-1 rounded-lg;
  }
  .pageTemplate1 {
    @apply w-full lg:w-4/5 min-h-[calc(100vh-48px)] flex justify-center items-center p-4 mx-auto;
  }
  .pageTemplate2 {
    @apply p-4 w-full min-h-[calc(100vh-48px)] flex flex-col gap-4;
  }
  .pageTemplate3 {
    @apply ml-4 mr-4  mt-4  w-full h-full p-4 flex flex-col justify-start  gap-2 bg-white border-2 rounded-lg;
  }
}

.pageTemplate3 {
  margin-top: 4%; 
  height: 100%; 
  background-color: aquamarine;
}

.custom-modal {
  margin-top:5%;
}

/* The following line can be included in a src/App.scss */
.dropdown {
  position: relative;
  display: inline-block;
 }
 
 .dropdown-menu {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
 }
 
 .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 }
 
 .dropdown-menu a:hover {background-color: #f1f1f1}
 
@tailwind utilities;
